{% extends "musiques/base.html" %}
{% block contenu %}
<section>
    <h1>{{object.nom}}</h1>
    <ul class="list-group">
        {% for morceau in object.morceau_set.all %}
            <li class="list-group-item"><a href="{% url 'musiques:morceau-detail' pk=morceau.pk %}">{{ morceau.titre }}</a></li>
            {% empty %}
            <li class="list-group-item">Pas encore de morceau pour cet artiste.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
