{% extends "musiques/base.html" %}
{% block contenu %} 
<section class="row" style="padding-top:1em">
        <h1 class="col-sm-4">Artiste</h1>
        <a class="col-sm-2" href="{% url 'musiques:artiste-create'%}">
            <button class="btn btn-success ">Ajouter un Artiste</button>
        </a>
    </section>

<ul class="list-group">
{% for artiste in object_list %}
    <li class="row list-group-item">
        <a class="col-sm-8" href="{% url 'musiques:artiste-detail' pk=artiste.pk %}">{{ artiste.nom }}</a>
        <a href="{% url 'musiques:artiste-update' pk=artiste.pk %}" class="col-sm-2"><button class="btn btn-primary">Modifier</button></a>
        <a href="{% url 'musiques:artiste-delete' id=artiste.pk %}" class="col-sm-2"><button class="btn btn-danger">Supprimer</button></a>
    </li>
{% empty %}
    <li class="list-group-item">Pas encore d'artiste.</li>
{% endfor %}
</ul>
{% endblock %}
