{% extends "musiques/base.html" %}
{% block contenu %} 
<section>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Save">
    </form>
</section>
{% endblock %}
