{% extends "musiques/base.html" %}
{% block contenu %} 
<section>
    <h1>{{object.titre}}</h1>
    <h2>{{object.date_sortie}}
    <a href="{% url 'musiques:artiste-detail' pk=object.artiste_fk.pk %}"><h2>{{object.artiste_fk}}<h2></a>
    <a href="{% url 'musiques:morceau-delete' id=morceau.pk %}" class="col-sm-2"><button class=" btn btn-danger">Supprimer</button></a>        
</section>
{% endblock %}
