{% extends "musiques/base.html" %}
{% block contenu %} 
<section class="row" style="padding-top:1em">
    <h1 class="col-sm-4">Morceaux</h1>
    <a class="col-sm-2" href="{% url 'musiques:morceau-create'%}">
        <button class="btn btn-success ">Ajouter un Morceau</button>
    </a>
</section>

<ul class="list-group">
{% for morceau in object_list %}
    <li class="row list-group-item">
        <a class="col-sm-8" href="{% url 'musiques:morceau-detail' pk=morceau.pk %}">{{ morceau.titre }} - {{ morceau.date_sortie }}</a> 
        <a href="{% url 'musiques:morceau-update' pk=morceau.pk %}"  class="col-sm-2"><button class=" btn btn-primary">Modifier</button></a>
        <a href="{% url 'musiques:morceau-delete' id=morceau.pk %}" class="col-sm-2"><button class=" btn btn-danger">Supprimer</button></a>
    </li>
{% empty %}
    <li class="row list-group-item">Pas encore de morceau.</li>
{% endfor %}
</ul>
{% endblock %}
